:root {
    --dark_purple: #130b1d;
    --dark_green: #0e2410;
    --green: #41644a;
    --violet: #595082;
    --saffron: #f8c662;
}

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--dark_purple);
}

/* HEADER */
header{
    background-color: var(--dark_green);
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:1000;
}

header::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: var(--green);
}

/* MENU */
.menu{
    max-width:1200px;
    margin:auto;
    padding:18px 30px;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* LOGO */
#logo{
    width:55px;
    cursor:pointer;
}

/* NAV */
.navegacao{
    display:flex;
    list-style:none;
    gap:50px;
}

/* LINKS */
.item a{
    text-decoration:none;
    color:#f5deb3;
    font-weight:600;
    font-size:1.1rem;
    position:relative;
    transition:0.3s ease;
}

/* ANIMAÇÃO UNDERLINE */
.item a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:2px;
    background:wheat;
    transition:0.3s ease;
}

.item a:hover{
    color:green;
}

.item a:hover::after{
    width:100%;
}

/* SEÇÃO SOBRE */

.sobre{
    max-width:1200px;
    margin:120px auto;
    padding:40px;

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
}

/* TEXTO */

.sobre-texto{
    flex:1;
}

.sobre-texto h1{
    font-size:2.5rem;
    color:var(--saffron);
    margin-bottom:20px;
}

.sobre-texto p{
    font-size:1.1rem;
    color:white;
    line-height:1.6;
    margin-bottom:15px;
}

/* BOTÃO */

.botao{
    display:inline-block;
    margin-top:15px;
    padding:12px 24px;

    background-color:var(--violet);
    color:white;
    text-decoration:none;
    border-radius:8px;

    transition:0.3s;
}

.botao:hover{
    background-color:var(--green);
}

/* FOTO */

.sobre-foto{
    flex:1;
    display:flex;
    justify-content:center;
}

.sobre-foto img{
    width:280px;
    border-radius:20px;
}

.sobre section::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: var(--violet);
}

@media (max-width:768px){

    .sobre{
        flex-direction:column;
        text-align:center;
    }

    .sobre-foto img{
        width:200px;
    }

}


/* ITINERÁRIO FORMATIVO */

.itinerario{
    max-width:1000px;
    margin:120px auto;
    padding:40px;
}

.itinerario h2{
    text-align:center;
    color:var(--saffron);
    font-size:2.2rem;
    margin-bottom:60px;
}

/* LINHA CENTRAL */

.timeline{
    position:relative;
    padding-left:30px;
}

.timeline::before{
    content:"";
    position:absolute;
    left:10px;
    top:0;
    width:3px;
    height:100%;
    background:var(--violet);
}

/* ITEM */

.timeline-item{
    margin-bottom:40px;
    position:relative;
}

/* BOLINHA */

.timeline-item::before{
    content:"";
    position:absolute;
    left:-2px;
    top:5px;
    width:14px;
    height:14px;
    background:var(--saffron);
    border-radius:50%;
}

/* DATA */

.timeline-data{
    color:var(--green);
    font-weight:700;
    margin-bottom:8px;
    margin-left: 18px;
}

/* CARD */

.timeline-conteudo{
    background:var(--dark_green);
    padding:20px;
    border-radius:12px;
    color:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.timeline-conteudo h3{
    margin-bottom:8px;
    color:var(--saffron);
}
